#####################################################
# .gitignore                                        #
# A gitignore geared toward node/express projects   #
#                                                   #
#####################################################


# OS Specific #######################################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Archives ##########################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Misc ##############################################
*.lock
*.log
*.out
*.swp

# Node / Express Specific ###########################
node_modules
.monitor
